.App {
  text-align: center;
  background-color: rgb(59, 65, 150);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.App-warm {
  text-align: center;
  background-color: rgb(206, 86, 65);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.input-box{
  padding-top: 70px;
}

.input{
  outline: none;
  border: none;
  border-radius: 3px 3px 9px 9px;
  margin-right: 20px;
  height: 35px;
  width: 350px;
  box-shadow: 0 2px 3px grey;
}

.button{
  color: white;
  background-color: rgb(168, 181, 194);
  outline: none;
  border: none;
  border-radius: 3px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.button:hover{
  background-color: rgb(182, 200, 218);
  transition: 0.4s ease;
}

.info-box{
  margin-top: 30px;
}

.location{
  color: white;
  font-size: 50px;
  margin-bottom: 10px;
}

.date{
  color: white;
  font-size: 30px;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 10px;

}
.weather-box{
  margin-top: 5px;
}

.weather{
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  font-size: 30px;
}

.temp-box{
  margin-top: 50px;
}

.temp{
  color: white;
  font-size: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 15px;
  background: rgb(221, 212, 212, 0.5);
}

@media only screen and (max-width: 600px) {
  .date {
    color: rgb(255, 255, 255);
  }
  
  .info-box{
    margin-top: 40px;
  }

  .button{
    margin-top: 20px;
  }
}